.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error
{
  color: rgb(234, 8, 8);
}

/* .regForm
{
  background: linear-gradient(#2C3E50,#4CA1AF)
}

#query{
  font-size: 20px;
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
}

#first{
  font-weight: 900;
}

#last{
  font-weight: 900;
}

#email{
  font-weight: 900;
}

#Mobile_Number{
  font-weight: 900;
}

#password{
  font-weight: 900;
} */


input[type="radio"]{
  /* border-color: rgb(222, 6, 6); */
  width: 20px;
  height: 20px;
  border: 2px solid red;
}

input[type="radio"]:checked{
  background-color: green;
}